## Credixco Tech Internship Assessment

### Fetch Bank Details using IFSC Code

Importing the library

In [1]:
import pandas as pd

Loading the dataset

In [4]:
df = pd.read_csv('https://raw.githubusercontent.com/snarayanank2/indian_banks/master/bank_branches.csv')

First few rows using head() function

In [5]:
df.head()

,ifsc,bank_id,branch,address,city,district,state,bank_name
0,ABHY0065001,60,RTGS-HO,"ABHYUDAYA BANK BLDG., B.NO.71, NEHRU NAGAR, KU...",MUMBAI,GREATER MUMBAI,MAHARASHTRA,ABHYUDAYA COOPERATIVE BANK LIMITED
1,ABHY0065002,60,ABHYUDAYA NAGAR,"ABHYUDAYA EDUCATION SOCIETY, OPP. BLDG. NO. 18...",MUMBAI,GREATER MUMBAI,MAHARASHTRA,ABHYUDAYA COOPERATIVE BANK LIMITED
2,ABHY0065003,60,BAIL BAZAR,"KMSPM'S SCHOOL, WADIA ESTATE, BAIL BAZAR-KURLA...",MUMBAI,GREATER MUMBAI,MAHARASHTRA,ABHYUDAYA COOPERATIVE BANK LIMITED
3,ABHY0065004,60,BHANDUP,"CHETNA APARTMENTS, J.M.ROAD, BHANDUP, MUMBAI-4...",MUMBAI,GREATER MUMBAI,MAHARASHTRA,ABHYUDAYA COOPERATIVE BANK LIMITED
4,ABHY0065005,60,DARUKHANA,"POTIA IND.ESTATE, REAY ROAD (E), DARUKHANA, MU...",MUMBAI,GREATER MUMBAI,MAHARASHTRA,ABHYUDAYA COOPERATIVE BANK LIMITED

In [6]:
ifsc_code = input()

val = df.loc[df['ifsc'] == ifsc_code].reset_index()

ABHY0065001

Output->

In [7]:
val

,index,ifsc,bank_id,branch,address,city,district,state,bank_name
0,0,ABHY0065001,60,RTGS-HO,"ABHYUDAYA BANK BLDG., B.NO.71, NEHRU NAGAR, KU...",MUMBAI,GREATER MUMBAI,MAHARASHTRA,ABHYUDAYA COOPERATIVE BANK LIMITED

Create dictionary from dataframe->

In [8]:
d = val.to_dict()
print(d)

{'index': {0: 0}, 'ifsc': {0: 'ABHY0065001'}, 'bank_id': {0: 60}, 'branch': {0: 'RTGS-HO'}, 'address': {0: 'ABHYUDAYA BANK BLDG., B.NO.71, NEHRU NAGAR, KURLA (E), MUMBAI-400024'}, 'city': {0: 'MUMBAI'}, 'district': {0: 'GREATER MUMBAI'}, 'state': {0: 'MAHARASHTRA'}, 'bank_name': {0: 'ABHYUDAYA COOPERATIVE BANK LIMITED'}}

Get Bank Id from Dictionary->

In [9]:
d['bank_id'][0]

60

### Fetch Bank Details using Bank Name & Bank City

In [10]:
#Make array or list to execute two conditions in single query-->

array = ['ABHYUDAYA COOPERATIVE BANK LIMITED', 'VASAI']
vall = df.loc[(df['bank_name'].isin(array) & df['city'].isin(array))].reset_index()

Convert dataframe to dictionary

In [11]:
dd = vall.to_dict()

Output ->

In [12]:
print(dd)

{'index': {0: 41}, 'ifsc': {0: 'ABHY0065043'}, 'bank_id': {0: 60}, 'branch': {0: 'VASAI'}, 'address': {0: 'OM SHIVSHAKTI COMPLEX, VAJRESHWARI ROAD, VALIV VILLAGE, VASAI ROAD (EAST), VASAI 401208'}, 'city': {0: 'VASAI'}, 'district': {0: 'THANE'}, 'state': {0: 'MAHARASHTRA'}, 'bank_name': {0: 'ABHYUDAYA COOPERATIVE BANK LIMITED'}}

Get address of Bank from dictionary

In [13]:
dd['address'][0]

'OM SHIVSHAKTI COMPLEX, VAJRESHWARI ROAD, VALIV VILLAGE, VASAI ROAD (EAST), VASAI 401208'